.container {
  margin: 35px auto;
  height: 92vh;
  width: 50%;

}

.chat-header {
  text-align: center;
  background: rgba(23, 24, 23, 0.346);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 32px 32px 0 0;
  padding: 8px;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 1px 1px 4px #111;
}



.chat-body {

  background: rgba(23, 24, 23, 0.346);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);



  overflow-y: auto;
  height: 82%;
  width: 100%;
  padding: 0 12px;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  scroll-behavior: smooth;
}

.chat-input {
  border-radius: 0 0 32px 32px;
  padding: 0 60px;
  background: rgba(23, 24, 23, 0.346);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  height: 60px;
  display: flex;
  align-items: center;

}

.input-sec {

  background-color: white;
  flex: 9;
}

.send {
  flex: 1;
  padding-right: 4px;
}

#txtInput {

  line-height: 30px;
  padding: 8px 10px;
  border: none;
  outline: none;
  caret-color: black;
  font-size: 1rem;
  width: 80%;
}

.chatbot-message,
.user-message {
  padding: 12px;
  background: #ccc;
  margin: 5px;
  width: 30%;
  /* width: -moz-min-content; */
  /* width: min-content; */
  /* width: max-content; */
  border-radius: 10px 3px 10px 10px;

}

.chatbot-message {
  background: #0652c0;
  color: var(--light-color);
  align-self: flex-start;
  float: right;
  border-radius: 10px 10px 3px 10px;
}